/* AboutPage.css */
#about {
    background-color: #9abed6;
    padding: 10px;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.about-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}
